body {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
}


.container1 {
    background-color: #1F2937;
    color: #F9FAF8; 
    padding-bottom: 100px; 
    margin: 0;

}

.site-header {
    padding: 20px 25px 30px 80px;
    margin: 0;
}

.logo {
    font-size: 24px;
    font-weight: 900;
}

.site-header .wrapper1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    
}

.container2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    
}

.wrapper2 {
    padding-left: 80px;
    width: 400px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;


}

.hero {
    font-size: 32px;
    color: #F9FAF8;
    font-weight: 900;
    padding: 0;
    margin: 0;
}

.hero-sub {
    font-size: 18px;
    color: #E5E7EB;
}

.sign-up {
    background-color: #3882F6;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    width: 100px;
    height: 30px;
    border-radius: 8px;
    font-weight: 800;
    margin-top: 10px;
}

.image-holder {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 100px;
    margin-top: 50px;
    width: 430px;
    height: 200px;
    background-color: darkgray;  
    
}


ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    font-weight: 500;
    margin: 0;
    padding-right: 80px;
    gap: 20px;
     
}


a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    
}

p {
    margin: 0;
    padding: 0;

}